.leaderboard{
    background: #1f1e1e;
    border-radius: 5px;
}
.leaderboard a{
    color: #ecae06;
}
.lb{
    display: flex;
    flex-direction: row;
}
.leaderboard h4{
    text-align: center;
    font-size: 25px;
}
.fa-clock{
    color: #ecae06;
    font-size: 20vh;
    animation: rotate 5s;
}
.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.propositions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.propositions input{
    background: #ecae06;
    color: #725508;
font-weight: 800;
font-size: 20px;
height: 60px;
width: 150px;
text-decoration: none;
text-align: center;
line-height: 58px;
border-radius: 6px;
border: none;
border-bottom: 4px solid #d39b04;
margin: 5px;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows input{
    padding: 5px;
    font-size: 25px;
    background: transparent;
    border: none;
}
.arrows input:hover{
    mask-image: black;
}
.propositions input:hover {
    background: #f9b809;
    border-bottom: 4px solid #d39b04;
  }
.leaderprofile{
    padding: 20px;
    width:20%;
    text-align: center;
}

.leaderprofile img{
    width: 80%;
    height: auto;
}